# ==========================================
# GESTOR DE TAREAS - VARIABLES DE ENTORNO
# ==========================================

# 1. Configuración de Base de Datos (MySQL)

# --- OPCIÓN A: Localhost (XAMPP / MySQL Local) ---
# Descomenta este bloque y comenta el de TiDB para usar tu BD local
# MYSQL_HOST=localhost
# MYSQL_USER=root
# MYSQL_PASSWORD=
# MYSQL_DATABASE=tareas_db2
# MYSQL_PORT=3306
# MYSQL_SSL=false

# Alternativa: Configuración desglosada (TiDB Cloud)
MYSQL_HOST=gateway01.us-east-1.prod.aws.tidbcloud.com
MYSQL_USER=xrTpTKFWJNERGdJ.root
MYSQL_PASSWORD=tb1gJwxztnhe3uUg
MYSQL_DATABASE=test
MYSQL_PORT=4000
MYSQL_SSL=true
# MYSQL_CA_PATH=./isrgrootx1.pem # Descomentar y ajustar la ruta si usas archivo
# MYSQL_CA_CERT="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----" # Usar en Producción (Render)

# 2. Seguridad
# Reemplazar siempre por una cadena larga de texto aleatoria en Producción
JWT_SECRET=super_secreto_aqui_para_entorno_desarrollo

# 3. Servidor
PORT=3000
FRONTEND_URL=http://localhost:4200
