# ==========================================
# GESTOR DE TAREAS - VARIABLES DE ENTORNO
# ==========================================

# 1. Configuración de Base de Datos (MySQL)
# Opcional: Proveer URL unificada si se utiliza un servicio como Railway
# MYSQL_URL=mysql://root:password@localhost:3306/tareas_db2

# Alternativa: Configuración desglosada
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=tareas_db2
MYSQL_PORT=3306

# 2. Seguridad
# Reemplazar siempre por una cadena larga de texto aleatoria en Producción
JWT_SECRET=super_secreto_aqui_para_entorno_desarrollo

# 3. Servidor
PORT=3000
FRONTEND_URL=http://localhost:4200
